$font-family-sans-serif: Arial, sans-serif;
$font-family-base: "Times New Roman", "Times", "Tinos", serif;
$line-height-base: 2;
$page-margin: 1in !default;
$page-margin-correction: 6pt !default;
$page-margin-corrected: calc(#{$page-margin} - #{$page-margin-correction}) #{$page-margin};

@import './base';

@page {
  margin: $page-margin-corrected;
}

.container-fluid {
  padding: 0;
}

@media screen {
  .container-fluid {
    padding: $page-margin-corrected;
  }
}

body {
  font-size: 12pt;
}

p {
  text-indent: 0.5in;
}

p, li, blockquote, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $line-height-base;
}
