$font-family-sans-serif: Arial, sans-serif;
$font-family-base: "Times New Roman", "Times", "Tinos", serif;
$line-height-base: 2;
$page-margin: 1in !default;
$text-indent-base: 0.5in !default;

@import './base';

@page {
  margin: $page-margin;
}

.container, .container-fluid {
  padding: 0;
  margin-top: $page-margin;
  margin-bottom: $page-margin;
}

@media print {
  .container, .container-fluid {
    margin: 0;
  }
}

body {
  font-size: 12pt;
}

p {
  text-indent: $text-indent-base;

  img {
    display: block;
  }
}

p, li, blockquote, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $line-height-base;
}
